version: "3.7"

services:
    phrase-wrapper:
        build:
            dockerfile: Dockerfile.prod
            context: .
        image: phrase-wrapper
        container_name: phrase-wrapper
        networks:
            - phrase-net
        environment:
            ARANGO_ROOT_PASSWORD: ${ARANGO_ROOT_PASSWORD}
            ARANGO_DATABASE: ${ARANGO_DATABASE}
            PHRASE_COLLECTION: ${PHRASE_COLLECTION}
            ARANGO_USER: ${ARANGO_USER}
            ARANGO_PASS: ${ARANGO_PASS}
            ARANGO_HOST: ${ARANGO_HOST}
            ARANGO_PORT: ${ARANGO_PORT}
            API_KEY: ${API_KEY}
            NER_COLLECTION: ${NER_COLLECTION}
            STOP_COLLECTION: ${STOP_COLLECTION}
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD}
            MYSQL_HOST: ${MYSQL_HOST}
            MYSQL_PORT: ${MYSQL_PORT}
            MYSQL_DATABASE: ${MYSQL_DATABASE}
            WEB_CONCURRENCY: ${WEB_CONCURRENCY}
            REPEATED_NE_COLLECTION: ${REPEATED_NE_COLLECTION}
            REPEATED_STOPS_COLLECTION: ${REPEATED_STOPS_COLLECTION}
        volumes:
            - .:/app/
            - /app/.venv
        ports:
            - "8000:80"
            - "8005:8005"

    phrase-db:
        image: arangodb
        container_name: phrase-db
        restart: always
        networks:
            - phrase-net
        environment:
            ARANGO_ROOT_PASSWORD: ${ARANGO_ROOT_PASSWORD}
            ARANGO_DATABASE: ${ARANGO_DATABASE}
            PHRASE_COLLECTION: ${PHRASE_COLLECTION}
            ARANGO_USER: ${ARANGO_USER}
            ARANGO_PASS: ${ARANGO_PASS}
            ARANGO_HOST: ${ARANGO_HOST}
            ARANGO_PORT: ${ARANGO_PORT}
            ARANGODB_OVERRIDE_DETECTED_TOTAL_MEMORY: ${ARANGODB_OVERRIDE_DETECTED_TOTAL_MEMORY}
        ports:
            - 8081:8529
        volumes:
            - phrase-vol:/var/lib/arangodb3
            - ./arango-prod.conf:/etc/arangodb3/arangod.conf

networks:
    phrase-net:
        name: phrase-net

volumes:
    phrase-vol:
        name: phrase-vol
        driver: local
        driver_opts:
            type: 'none'
            o: 'bind'
            device: '/data02/phrase-vol/'
