version: "3.7"

services:
    phrase-wrapper:
        build:
            dockerfile: Dockerfile.dev
            context: .
        image: phrase-wrapper
        container_name: phrase-wrapper
        environment:
            ARANGO_ROOT_PASSWORD: rootpass
            ARANGO_DATABASE: test_phrase
            ARANGO_VERTEX_COLLECTION: test_phrase
            ARANGO_EDGE_COLLECTION: test_phrase_relation
            ARANGO_USER: root
            ARANGO_PASS: rootpass
            ARANGO_HOST: phrase-db
            ARANGO_PORT: 8529
            API_KEY: 27def526b7b
        volumes:
            - .:/app/
            - /app/.venv
        ports:
            - "8000:80"
    phrase-db:
        image: arangodb
        container_name: phrase-db
        restart: always
        environment:
            ARANGO_ROOT_PASSWORD: rootpass
            ARANGO_DATABASE: test_phrase
            ARANGO_VERTEX_COLLECTION: test_phrase
            ARANGO_EDGE_COLLECTION: test_phrase_relation
            ARANGO_USER: root
            ARANGO_PASS: rootpass
            ARANGO_HOST: phrase-db
            ARANGO_PORT: 8529
        ports:
            - 8529:8529
        volumes:
            - ./data/arango:/var/lib/arangodb3
